
#maindiv{
    max-width: 800px;
    height: fit-content;
    min-height: 100%;
    margin: auto;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    display: flex;
    background-color: white;
    border-radius: 0px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);

    padding: 10px;
}

/* NAV Bar*/
nav{
    border-radius: 0px;
    position: sticky;
    top: 0;
    background-color: cadetblue;
    z-index: 100;
    display: flex;

    color: white;
}

#navdiv{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    border-radius: 0px;
}

.navbutton{
    cursor: pointer;
    width: 5rem;
    height: 2rem;
}

/*
    Markdown css support
*/
.chapter-content{
    width: 100%;
}

#maindiv h1{
    margin-left: auto;
    margin-right: auto;
}

#maindiv table{
    border-collapse: collapse;
    border-radius: 4px;
    border: 2px solid black;

    th, td{
        border: 1px solid black;
        padding: 4px;
    }
}

#maindiv img{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#maindiv code{
    border-radius: 2px;
    padding: 4px;
    margin: 4px;
    background-color: rgb(10, 34, 68);
    color: white;

    box-decoration-break: clone;
    font-size: 0.85rem;
    line-height: 1.4;
}

#maindiv pre{
    border-radius: 2px;
    padding: 6px;
    background-color: rgb(10, 34, 68);
    color: white;

    code{
        background-color: transparent;
        font-size: 0.9rem;
    }
}