html, body{
    height: 100%;
    align-items: center;
    margin: 0;
    background-color: whitesmoke;
}

*{
    border-radius: 20px;
}

#maindiv{
    max-width: 800px;
    height: fit-content;
    min-height: 100%;
    margin: auto;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    display: flex;
    background-color: white;
    border-radius: 0px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);

    padding: 10px;
}


nav{
    border-radius: 0px;
    position: sticky;
    top: 0;
    background-color: cadetblue;
    z-index: 100;
}

#navdiv{
    height: 50px;
}

/*
    Markdown css support
*/

#maindiv h1{
    margin-left: auto;
    margin-right: auto;
}

#maindiv table{
    border-collapse: collapse;
    border-radius: 4px;
    border: 2px solid black;

    th, td{
        border: 1px solid black;
        padding: 4px;
    }
}

#maindiv img{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#maindiv code{
    border-radius: 4px;
    padding: 5px;
    margin: 4px;
    background-color: rgb(10, 34, 68);
    color: white;
}

#maindiv pre{
    border-radius: 2px;
    padding: 6px;
    background-color: rgb(10, 34, 68);
    color: white;

    code{
        background-color: transparent;
    }
}