#maindiv
{
    width: 100vw;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    display: flex;
    background-color: gray;
}

body{
    align-items: center;
    margin: 0;
    background-color: whitesmoke;
}

html{
    font-size: 18px;
    letter-spacing: 0.02rem;
}

*{
    border-radius: 20px;

    font-family: Arial, Helvetica, sans-serif;
}