#maindiv
{
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    display: flex;
    background-color: gray;
}

body{
    align-items: center;
    margin: 0;
}

*{
    border-radius: 20px;
}