
#contentdiv
{
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

#storylist
{
    background-color: lightblue;
    flex: 1;
    width: 90%;
    grid-template-columns: repeat(auto-fill, 150px); /* columns of 150px width */
    grid-auto-rows: 150px;                          /* each row 150px tall */
    gap: 20px;                                     /* space between items */
    padding: 20px;
    display: flex;  /*ako uradimo ovako onda se kartice sklanjaju jedna od druge! :>*/
    flex-wrap: wrap;


    justify-content: flex-start;
}

#searchdiv
{
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 0 0 5%;
}

#searchbar
{
    height: 30px;
}

#titlediv
{
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 0 0 25%;
}

#maindiv
{
    width: 100vw;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    display: flex;
    background-color: gray;
}



/*classes*/

.card
{
    background-color: lightcoral;
    width: 150px;
    height: 240px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: width 0.4s ease;
    display: flex;
    position: relative;
    overflow: hidden;

}

.card .novel-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease;
    z-index: 1;   /* image layer */
}

.card .card-text {
    position: absolute;
    left: 170px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    color: white;
    transition: opacity 0.3s ease;
    z-index: 2;   /* ABOVE image */
}

/* HOVER EFFECT */

.card:hover {
    width: 400px; /* sirina tokom hover-a (promijeni kako odgovoara)*/
}

.card:hover .novel-cover{
    width: 150px;
}

.card:hover .card-text {
    opacity: 1;
}

/* General */
body{

    align-items: center;
    margin: 0;
}

*{
    border-radius: 20px;
}