#maindiv
{
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    display: flex;
    background-color: gray;
}

#contentdiv
{
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

#storylist
{
    background-color: lightblue;
    flex: 1;
    width: 90%;
    grid-template-columns: repeat(auto-fill, 150px); /* columns of 150px width */
    grid-auto-rows: 150px;                          /* each row 150px tall */
    gap: 20px;                                     /* space between items */
    padding: 20px;
    display: flex;  /*ako uradimo ovako onda se kartice sklanjaju jedna od druge! :>*/
    flex-wrap: wrap;


    justify-content: flex-start;
}

#searchdiv
{
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 0 0 5%;
}

#searchbar
{
    height: 30px;
}

#titlediv
{
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 0 0 25%;
}

#maindiv
{
    width: 100vw;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    display: flex;
    background-color: gray;
}


/*classes*/

.card
{
    width: 150px;
    height: 240px;
    position: relative;
    overflow: hidden;
    cursor: pointer;

}

.novel-title
{
    font-weight: bold;
}

.card .novel-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.4s ease, transform 0.4s ease;
}

.card .card-text {
    position: absolute;
    inset: 0; /* shorthand for top:0 left:0 right:0 bottom:0 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 15px;
    color: white;

    background: rgba(0, 0, 0, 0.4); /* dark overlay */
    opacity: 0;
    transition: opacity 0.4s ease;

}

/* HOVER EFFECT */

.card:hover .novel-cover{
    filter: blur(4px);
    transform: scale(1.05); /* slight zoom for nice effect */
}

.card:hover .card-text {
    opacity: 1;
}

/* General */
body{

    align-items: center;
    margin: 0;
}

*{
    border-radius: 20px;
}