
#contentdiv
{
    flex: 0 0 80%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

#storylist
{
    background-color: lightblue;
    flex: 1;
    width: 90%;
    display: grid;                                  /* enable grid */
    grid-template-columns: repeat(auto-fill, 150px); /* columns of 150px width */
    grid-auto-rows: 150px;                          /* each row 150px tall */
    gap: 20px;                                     /* space between items */
    justify-content: start;                         /* align grid to top-left */
    padding: 20px;
    flex: 0 0 80%;
}

#searchdiv
{
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 0 0 15%;
}

#searchbar
{
    height: 30px;
}

#titlediv
{
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 0 0 20%;
}



/*clase*/

.card
{
    background-color: lightcoral;
    width: 150px;
    height: 240px;
    display: flex;
    flex-direction: column;
    cursor: pointer;


    position: relative;
    overflow: hidden;
    transition: width 0.4s ease;
    display: flex;
    align-items: center;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease;
}

.card .novel-title {
    opacity: 0;
    margin-left: 20px;
    color: white;
    transition: opacity 0.3s ease;
    white-space: nowrap;
}

/* HOVER EFFECT */

.card:hover {
    width: 500px;
}

.card:hover img {
    width: 150px;
    height: 100%;
}

.card:hover .novel-title {
    opacity: 1;
}

#maindiv
{
    width: 100vw;
    max-height: 100vh;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    display: flex;
    background-color: gray;
}

body{

    align-items: center;
    margin: 0;
}

*{
    border-radius: 20px;
}