#maindiv{
    max-width: 800px;
    min-height: 100vh;
    margin: auto;
    gap: 20px;

    justify-content: start;
    align-items: center;
    flex-direction: column;
    display: flex;

    border-radius: 0px;

    padding: 10px;
    color: white;
}

#novel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 300px;

}

#novel-cover{
    flex: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 0px;

    img{
        border: var(--primary) 2px solid;
        border-radius: 20px;
        object-fit: cover;
        width: 150px;
        height: 240px;
    }
}

#novel-info{
    flex: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#novel-author{

    span{
        text-decoration: underline;
        color: var(--primary);
    }
}

#novel-description{
    max-height: 50%;
    overflow-y: auto;
    margin-right: 30px;
    border-radius: 0px;

    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}

#chapters{
    width: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#chapters h2{
    width: 95%;
}

#chapter-box{
    background-color: var(--softbackground);
    width: 95%;
    flex: 1;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 0px var(--primary);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    row-gap: 5px;

    padding: 5px 0px;

    overflow-y: auto;

    scrollbar-width:none;
    scrollbar-color: #888 transparent;
}

.chapter{
    width: 97%;
    height: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    background-color: var(--background);
    border-radius: 10px;

    transition: ease-out 0.2s;
    *{
        transition: ease-out 0.2s;
    }
}
.chapter:hover{
    box-shadow: 0px 0px 5px 0px var(--primary);
    span{
        color: var(--primary);
    }
}

.chapter span{
    font-size: large;
    color: white;
    margin-left: 10px;
}


/* WebKit */
#novel-description::-webkit-scrollbar {
    width: 8px;
}
#novel-description::-webkit-scrollbar-track {
    background: transparent
}
#novel-description::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}
#novel-description::-webkit-scrollbar-thumb:hover {
    background: #555;
}
#novel-description::-webkit-scrollbar-button {
    display: none;  /* hides the up/down buttons */
}

#chapter-box::-webkit-scrollbar {
    width: 8px;
}
#chapter-box::-webkit-scrollbar-track {
    background: transparent
}
#chapter-box::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}
#chapter-box::-webkit-scrollbar-thumb:hover {
    background: #555;
}
#chapter-box::-webkit-scrollbar-button {
    display: none;  /* hides the up/down buttons */
}