<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>My Novels</title>
    <link rel="stylesheet" href="../static/index.css"> <!--mozda promjeniti kasnije-->
</head>
<body>
    <div id="maindiv">   

        <div id="titlediv"><h1>My Novels</h1></div>
    
        <div id="contentdiv">
            <div id="searchdiv"> 
                <search><input type="search" placeholder="search" id="searchbar"></search>
            </div>
            <div id="storylist">
                {{range .}}
                <div class="card">
                    <img>
                    <span class="novel-title">{{.Title}}</span>
                    <span class="novel-description">{{.Description}}</span>
                    <span class="chapter-number">{{.ChapterCount}} chapters</span>
                </div>
                {{end}}
            </div>
        </div>

    </div>
    
    
</body>
</html>
