<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>My Novels</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div id="maindiv">   

        <div id="titlediv"><h1>My Novels</h1></div>
    
        <div id="contentdiv">
            <div id="searchdiv"> 
                <search><input type="search" placeholder="search" id="searchbar"></search>
            </div>
            <div id="storylist">
                <div class="card">
                    <img>
                    <span class="novel-title">mrzim crnce</span>
                    <span class="novel-description">mrzim crnce</span>
                    <span class="chapter-number">mrzim crnce</span>
                </div>
                <div class="card"> </div>
                <div class="card"> </div>
            </div>
        </div>

    </div>
    
    
</body>
</html>
